include README.md
include LICENCE
include requirements.txt
include docs/vevoda_2022_infrared_sky_teaser.png
include docs/docs/prague_sky.png
include docs/analytical_sky.png
include docs/uniform_sky.png
include docs/gui-1.png